body {
  font-family: 'Nunito', sans-serif;
  font-size: 100%;

  background-color: #ECF4F3;
}

input {
  font-family: 'Nunito', sans-serif;
}

h1, h2 {
  color: black;
}

h3 {
  color: #57A99A;
}

.header {
  background-color: #D1EECC
}

.primary-button {
  background-color: #57A99A;
}

.secondary-button {
  background-color: gainsboro;
}

.button {
  border: none;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
