body {
  font-family: 'Nunito', sans-serif;
  font-size: 100%;
  margin: 2rem;

  background-color: #ECF4F3;
}

input {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  padding: 0.2rem;
}

h1, h2 {
  color: black;
}

h3 {
  color: #57A99A;
  margin: 0.5rem 0;
}

.header {
  background-color: #D1EECC;
}

.primary-button {
  background-color: #57A99A;
}

.secondary-button {
  background-color: gainsboro;
}

.button {
  border: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1rem;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

section {
  margin-bottom: 2rem;
}

div {
  margin: 0.5rem 0;
}

table {
  width: 100%;
}

td {
  border-bottom: 1px solid gainsboro;
}

.foto {
  width: 50px;
  height: auto;
  border-radius: 1rem;
}

.centrada {
  display: flex;
  justify-content: center;
}

.tarjeta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: honeydew;
  border: 1px solid #57A99A;
  padding: 1rem;
  width: 15rem;
  margin: 0.2rem;
}

.datos {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.titulo, .subtitulo, .badge {
  margin: 0.1rem;
}

.subtitulo {
  color: grey;
  font-size: 0.9rem;
}

.badge {
  background-color: #57A99A;
  color: white;
  border-radius: 1rem;
  width: 2rem;
  text-align: center;
}

.resultados {
  display: flex;
  flex-direction: row;
}